.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(166, 105, 70, 0.13);
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  transition: all .8s;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #D9AC84;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  color: #000;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  margin-top: 20px;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading span {
  display: block;
  background: #465940;
  width: 10px;
  height: 25%;
  border-radius: 14px;
  margin-right: 5px;
}

.loading span:nth-child(1) {
  animation: grow 2.2s 0.1s infinite ease-in-out;
}
.loading span:nth-child(2) {
  animation: grow 2.2s 0.2s infinite ease-in-out;
}
.loading span:nth-child(3) {
  animation: grow 2.2s 0.3s infinite ease-in-out;
}
.loading span:nth-child(4) {
  animation: grow 2.2s 0.4s infinite ease-in-out;
}
.loading span:nth-child(5) {
  animation: grow 2.2s 0.5s infinite ease-in-out;
}
.loading span:nth-child(6) {
  animation: grow 2.2s 0.6s infinite ease-in-out;
}
.loading span:nth-child(7) {
  animation: grow 2.2s 0.7s infinite ease-in-out;
}
.loading span:nth-child(8) {
  animation: grow 2.2s 0.8s infinite ease-in-out;
}
.loading span:nth-child(9) {
  animation: grow 2.2s 0.9s infinite ease-in-out;
}
.loading span:nth-child(10) {
  animation: grow 2.2s 0.9s infinite ease-in-out;
}
.loading span:nth-child(11) {
  animation: grow 2.2s 1.1s infinite ease-in-out;
}
.loading span:nth-child(12) {
  animation: grow 2.2s 1.2s infinite ease-in-out;
}
.loading span:nth-child(13) {
  animation: grow 2.2s 1.3s infinite ease-in-out;
}
.loading span:nth-child(14) {
  animation: grow 2.2s 1.4s infinite ease-in-out;
}
.loading span:nth-child(15) {
  animation: grow 2.2s 1.4s infinite ease-in-out;
}


@keyframes grow {

  0% {
    height: 25%;
    background: #5B7355;
  }

  50% {
    height: 90%;
    background: #465940;
  }

  100% {
    height: 25%;
    background: #5B7355;
  }

}