form div {
  margin-top: 10px;
}

input {
  width: 200px;
}

.journey-planner {
  padding: 10px;
  margin-bottom: 7%;
}

.ui.button,
.ui.active.button:active,
.ui.button:active,
.ui.button:focus,
.ui.button:hover {
  background: #D9AC84;
  color: black;
}

.grouping_table {
  margin: 20px 0;
  padding: 10px;
  background-color: rgb(110, 143, 103);
  border-radius: 10px;
  box-shadow: 0px 14px 28px #41523b, 0px 10px 10px #32412e;
}

.ui.form input[type=text]:focus {
  border-color: #465940;
}
.ui.striped.table tbody tr:nth-child(2n), .ui.striped.table>tr:nth-child(2n) {
  background-color: rgb(241, 221, 203);
}

.ui.table {
  background-color: #F2D5BB;
}

@media (min-width: 768px){

  .ui.form input[type=text] {
    width: 50%;
    display: block;
    margin: auto;
  }

}
