.recharts-wrapper {
  margin : 0 auto;
}

#container {
  display: grid inline-grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: #fff;
}
