h1 {
  text-align: left;
   margin-left: -75px;
}



body {
  margin: 0;
}

/* h1 {
   margin-left: -75px;
} */


.recharts-wrapper {
  margin-left: -250px;

}



#barchart {
text-align: left;
margin-left: -50px;
 }

h3 {
   margin-left: -75px;
}

#piechart {
text-align: left;
margin-left: -50px;
/* padding: -50px; */
 }

 h3 {
    margin-left: -75px;
 }

 #sidebar {
 text-align: left;
 margin-left: -15px;
 /* padding: -50px; */
  }


#container {
  display: grid | inline-grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: #fff;
}
