body {
  margin: 0;
}

.recharts-wrapper {
  margin-left: -250px;

}

#barchart {
text-align: left;
margin-left: -50px;
 }

h3 {
   margin-left: -75px;
}

#piechart {
text-align: left;
margin-left: -50px;
/* padding: -50px; */
 }

 h3 {
    margin-left: -75px;
 }


#container {
  display: grid | inline-grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: #fff;
}
