.App {
  padding: 0;
  text-align: center;
  height: 100vh;
}

.about-app {
  width: 80%;
  margin: 5% auto 0 auto;
}

@media (min-width: 768px){

  .journey-planner {
    width: 75%;
    margin: auto;
  }

}