body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #D9AC84;
  background: rgb(91,115,85);
  background: linear-gradient(0deg, rgba(91,115,85,1) 0%, rgba(61,78,56,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {

}