* {
  /* border: 1px solid yellow; */
}


html {
  background-color: #465940;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #D9AC84;
  background: transparent;
}

h1 {
  font-family: 'Economica', sans-serif;
  font-size: 3rem;
}

#root {
  width: 100%;
}

.bold {
  font-weight: bold;
}

ul {
  padding: 0;
}


li {
  list-style-type: none;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:30%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}