html {
  background-color: #465940;
}

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #D9AC84;
  background: transparent;
}

h1 {
  font-family: 'Economica', sans-serif;
  font-size: 3rem;
}

.bold {
  font-weight: bold;
}